
.app-datepicker {
  display: flex;
  align-items: center;

  &__input {
    width: 150px;
  }

  &__dash {
    margin: 0 5px;
  }

  &__button {
    height: 35px;
    margin-left: 15px;
  }
}

.app-datepicker-input {
  background-color: $color-white;
  border: 1px solid $color-gray-bdr;
  border-radius: 4px;

  > input {
    width: 100%;
    height: 35px;
    padding: 10px;
    font-size: 1.4rem;
    color: $color-black-matt;
  }
}