$color-white: #ffffff;
$color-black: #000000;
$color-black-matt: #333333;
$color-gray-bg: #F6F9FC;
$color-gray-bg-panel: #E5E5E5;
$color-gray-bdr: #ECECEC;
$color-text-gray: #8898AA;
$color-blue: #155AA7;
$color-blue-darker: #124b8b;
$color-red-error: rgba(240, 61, 62, 0.8);
$color-bg-table-head: #f7f7f7;
$color-bdr-table-row: #ECECEC;
$color-green: #0F9D58;
$color-green-darker: #0d864b;